<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章内容</title>
    <script src="js/jquery-1.11.1.min.js"></script>
</head>
<body>
    <p id="content"></p>
    <script>
        $(function(){
            var user_article_id = window.location.href.split("?")[1]
			$.ajax({
				url:"http://127.0.0.1:8000/user/article_search?"+user_article_id,
				type:"GET",
				dataType:"json",
				success:function(data){
					if(data.code=200){
						$("#content").text(data.data)
					}else{
						console.log(data.error)
					}
				},error:function(data){
					console.log(data)
				}

			})
		})
    </script>
</body>

</html>