<div class="footer">
    <div class="wp">
        <div class="footer_to">
            <ul class="clear">

                <li ><a href="/site/des">网站简介</a></li>
                <li><a href="/site/gettutor">请家教</a></li>
                <li><a href="/site/photos">教员图库</a></li>
                <li><a href="/site/tutorlist">教员库</a></li>
<!--                <li><a href="/">手机版</a></li>-->
<!--                <li><a href="/site/studycenter">学习中心 </a></li>-->
                <li><a href="/site/charges">资费中心</a></li>
                <li><a href="/site/news">资讯中心</a></li>
                <li><a href="/site/tutorsign">签约教员</a></li>
                <li><a href="/site/message">在线留言</a></li>
            </ul>
        </div>
        <div class="footer_con clear">
            <span>友情链接</span>
            <div class="footer_con_t">
                <a href="https://www.baidu.com/?tn=02003390_3_hao_pg">百度</a>
            </div>
        </div>
                <div class="footer_bo clear">
            <div class="footer_bo_l fl">
                <p>24小时热线：400-007-6080   zhishanshicom（微信）</p>
                <p>在线QQ：3529731258  邮箱：jiajiao555@163.com  传真：029-88645065</p>
                <p>公司地址：知善师教育科技有限公司总部</p>
              <p> <img src="/comp.png" alt=""> 陕公网安备 61010402000427号</p>
                <p>©2017 - 2019 知善师教育科技有限公司 </p>
                <p>技术支持：<a href="javascript:;" target="_blank">西安知善师教育科技有限公司</a></p>

            </div>
            <div class="footer_bo_r fr">
                <ul class="clear">
                    <li>
                      <!-- <img src="http://img.zhishanshi.com/web/image/201905/1559282162468.png" alt=""> -->
                        <img src="http://img.zhishanshi.com/web/image/201907/1562147091248.jpg" alt="">
                        <p>扫描QQ二维码</p>
                    </li>
                    <li>
                        <img src="http://img.zhishanshi.com/web/image/201907/1562150090442.jpg" alt="">
                        <p>微信公众号</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
