<!DOCTYPE html>
<html lang="en">
<head>
    <title>首页</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Refinement Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--<link href='https://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' type='text/css'><script src="js/jquery-1.11.1.min.js"></script>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/webnet.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/layer.css" type="text/css" media="all">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/responsiveslides.min.js"></script>
</head>

<body>

    <!--header-->
    <div class="header">
        <div class="container">
            <div class="header-top">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand">
                                <h1><a href="index.html"><b>NO伍佰家教</b></a></h1>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html">首页<span class="sr-only">(current)</span></a>
                                </li>
                                <li><a href="about.html">关于</a></li>
                                <li><a href="services.html">服务</a></li>
                                <li><a href="teachergallery.html">教员库</a>
                                </li>
                                <li><a href="usergallery.html">学员库</a>
                                </li>
                                <li><a href="information.html">文章中心</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                                <li id="log"><a href="login.html">登录</a></li>
                                <li id="zc"><a href="register.html">注册</a></li>
                                <span id="login" style="color: crimson;"></span>&nbsp;&nbsp;&nbsp;<span id="register"
                                    style="color: crimson;"></span>
                                <script src="js/yanzheng1.js"></script>
                            </ul>


                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

            </div>
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <div class="caption">
                                <h3 id="slider1">良好的教育是成功的第一步 </h3>
                            </div>
                        </li>
                        <li>
                            <div class="caption">
                                <h3 id="slider2">为学生的美好未来做准备 </h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--公告-->
    <div class="gg ">
        <div class="gg_t wp clear">
            <img src="http://zhishanshi.com/static/pc/images/img_9.png" alt="">
            <div class="gg_d">
                <div class="bd">
                    <ul>

                        <li class="clear">
                            <p>
                                <img src='http://zhishanshi.com/static/pc/images/img_10.png' alt="">
                                <m style='color: #f1ae57;'>2019.04.10 16:43</m><a
                                    href="/site/newsdetails?id=6">网站服务宗旨</a>
                            </p>
                            <p>
                                <img src='http://zhishanshi.com/static/pc/images/img_10.png' alt="">
                                <m style='color: #f1ae57;'>2019.04.10 16:43</m><a
                                    href="/site/newsdetails?id=5">教员请家教流程</a>
                            </p>
                            <p>
                                <img src='http://zhishanshi.com/static/pc/images/img_10.png' alt="">
                                <m style='color: #f1ae57;'>2019.04.10 16:42</m><a
                                    href="/site/newsdetails?id=4">家长请家教流程</a>
                            </p>
                        </li>

                    </ul>
                    <!--                <script>-->
                    <!--                    jQuery(".gg_d").slide({-->
                    <!--                        mainCell: ".bd ul ",-->
                    <!--                        autoPlay: true,-->
                    <!--                        effect: "topMarquee",-->
                    <!--                        interTime: 80,-->
                    <!--                        vis: 1,-->
                    <!--                        scorll: 2-->
                    <!--                    });-->
                    <!--                </script>-->
                </div>
            </div>
        </div>
    </div>
    <style>
        .tempWrap {
            height: 60px !important;
        }
    </style>
    <!--免费请家教流程-->
    <div class="lc wp">
        <div class="lc_t clear">
            <h3>免费请家教流程<span>/ process</span></h3>
            <!--        <a href="#">查看更多>></a>-->
        </div>
        <div class="lc_d">
            <img src="images/lc.jpg" alt="">
        </div>
    </div>
    <!--教员库-->
    <div class="jyk " style="background: #f5f5f5">
        <div class="wp">

            <div class="lc_t clear">
                <h3>教员库<span>/ teacherS</span></h3>
                <a href="teachergallery.html">查看更多>></a>
            </div>
            <div class="jyk_t">
                <ul class="clear" id="content">
                </ul>
            </div>
        </div>
    </div>
    <!--最新学员 -->
    <div class="z_xy " style="background: #f5f5f5">
        <div class="wp">
            <div class="lc_t clear">
                <h3>最新学员<span>/ teacherS</span></h3>
                <a href="usergallery.html">查看更多>></a>
            </div>
            <div class="z_xy_t">
                <table>
                    <thead>
                        <tr style="height: 30px ">
                            <th><b>学员</b></th>
                            <th><b>性别</b></th>
                            <th class="th1"><b>在读年级</b></th>
                            <th class="th2"><b>求学科目</b></th>
                            <th><b>所在区域</b></th>
                            <th><b>课时标准</b></th>
                            <th><b>状态</b></th>
                            <th><b>发布时间</b></th>
                        </tr>
                    </thead>
                    <tbody id="student_content">
                        <style>
                            .z_xy .z_xy_t table tbody tr td .ilred {
                                background: #c7541c;
                            }

                            .sjz {
                                background: #ffa200;
                            }
                        </style>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--资讯中心-->
    <div class="new">
        <div class="wp">
            <div class="lc_t clear">
                <h3>资讯中心<span>/ information</span></h3>
                <div class="fkxx clear fr">
                    <!--                <a href="javascript:;" class="fk_on">反馈信息</a>-->
                    <a href="javascript:;" class="fk_on">最新公告</a>
                    <a href="javascript:;">教师文章</a>
                </div>
            </div>
            <!--        <div class="new_t">-->
            <!--            <ul class="clear">-->
            <!--                -->
            <!--            </ul>-->
            <!--        </div>-->
            <div class="new_t">
                <ul class="clear">
                    <li class="">
                        <a href='/site/newsdetails?id=6'>
                            <h3>网站服务宗旨</h3>
                            <p>所推荐的一对一上门家教老师都是经过严格选拔并要求持证上岗（身份证、学生证或教师资格证），每个家教老师都施行先试教后录用，直到家长（学员）满意为止。加入我们致知家教会员的学员（家长），终身免费推荐和更换在校大学生、研究生普通课程，同时定期回访跟踪所推荐的教员教学质量，并定期对教员安排培训，我们做的不是一次性中介，我们做的是长期品牌服务。致知家教将一如既往竭诚为呼和浩特市民提供最优质的一对一上门家教服务，努力做好排头兵。
                            </p>
                            <i>2019-04-10</i>
                        </a>
                    </li>
                    <li class="">
                        <a href='/site/newsdetails?id=5'>
                            <h3>教员请家教流程</h3>
                            <p>教员做家教的流程：

                                1.先在本家教中心网站上注册教员信息，必须确保其真实性和完整性，并对所写信息负全部责任，我们会进行信息审核，通过后会在网上显示自己的教员信息。

                                2.教员务必切记自己的用户名和密码，经常登陆本家教中心网站查看学员最新情况,寻找是否有适合自己的家教,确保不错过任何一次机会。

                                3.若有适合自己的家教，务必提前考虑清楚，看清相关要求，绝不允许教员教几次后又找各种理由不教！发现确实适合并确定后，请点应聘，以便我们最早第一个联系到你，安排好家教事宜。也可以提早告诉我们想做什么样的家教，以便发现有适合你的家教，我们也可以在最快的时间内联系到你，安排好家教事宜。

                                4.若确定好要接某份家教，要进行网站报名，正式备案，进一步审核信息的真实性，并进行有效的家教培训。

                                5.给双方联系方式，教员应提前做好首次家教准备工作，做好试教，第一次家教完后，务必第一时间反馈家教情况给中心。若不成功，必须确保该份家教不流失。本中心另外重新安排教员，若发现与家长私下串通，照收相关费用，立即拉入黑名单，并写入网站公告通报批评，一切相应后果自负。

                                注：教员须自重自尊自强，在家长所提供的场所内，不能从事家教以外的工作或其它无关事项。所有中心教员会有相应的考核制度，
                                重优多用。教员必须尽心尽力，认真负责的教好每一份家教，确保学员学习成绩有所提高。



                                1.先在致知家教网站上注册教员信息，必须确保其真实性和完整性，并对所写信息负全部责任，我们会进行信息审核，通过后会在网上显示自己的教员信息。

                                2.教员务必切记自己的用户名和密码，经常登陆本家教中心网站查看学员最新情况,寻找是否有适合自己的家教,确保不错过任何一次机会。</p>
                            <i>2019-04-10</i>
                        </a>
                    </li>
                    <li class="">
                        <a href='/site/newsdetails?id=4'>
                            <h3>家长请家教流程</h3>
                            <p>家长请家教老师的流程：（免费为每位家长推荐优秀高校学生上门家教。）

                                1.家长可以先在本家教中心网站点击进入[我要请家教]，并认真填写完详细具体的“请家教”订单，且必须确保其真实性，并对所写信息的真实性负完全责任，我们会进行信息审核，通过后会在网上显示学员信息（家长所填信息）。我们会第一时间内安排家教老师上门辅导，一般情况一天之内可安排家教老师联系家长。

                                2.家长也可以经常登陆知善师家教网站查看教员最新情况，关注公告信息，自己寻找优秀教员，看是否有适合自己孩子的家教老师,然后记住家教老师的编号预约，或第一时间来电家教中心，指出自己选择的编号，我们会第一时间联系相关老师，并安排家教老师上门辅导。

                                3.家长也可以致电呼和浩特家教通，说明孩子的学习情况和其它相关事宜，以便本中心登记备案存档。并及时帮你面试，挑选，考核，安排好家教事宜。

                                4.家长应该提前告知孩子请了家教老师辅导，并让其做好家教老师首次上门辅导的准备工作，并为家教老师提供相应的学习环境和教学场所。

                                5.若家教老师试教不满意，请致电本中心说明不满意的方面，以便我们下次及时安排好相应条件的老师上门辅导。

                                6.若第一次家教辅导满意，请家长与老师协商好家教事宜，并与老师签订家教合同。

                                注：若本中心家教老师（教员）在家长所提供的辅导场所内,被迫教员做出与家教不相关的事或强迫、诱导教员做不情愿，违背道德的事等，家长及相关人员必须负全责！

                                附件：1、本家教中心提供本科学历以上的大学生教员和专业教师教员，一般当天即可联系到合适教员。
                                2、在教员前去执教前，本家教中心会对教员身份进行严格认证，确保教员信息真实可靠。
                                3、同时致知家教心对教员所做的每一份家教都有详细记录，供家长/学员选择教员时参考。
                                4、您的授课地点如果与授课教员所在位置较远，或者有其他特殊要求，我们的工作人员可能会略微调高课时费标准，具体费用届时会在电话里与你提前确认。
                                5、本站大学生和专业教师教员均具有丰富经验，可提供1小时的试讲，我们鼓励家长确定教员继续教学后，能将试教时间计入酬劳。



                            </p>
                            <i>2019-04-10</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="new_t">
                <ul class="clear">
                    <li class="">
                        <a href='/site/newsdetails?id=13'>
                            <h3>请家教应该注意那些问题？</h3>
                            <p>随着新学期的开始，现在很多家长忙着给孩子找家教，但教育专家却发现不少家长对请家教的认识上还存有不少误区。究竟该如何来选择家教？自己的孩子又最需要什么样的家教？不妨让我们听一听专家学者的建议。对家教作用认识不准
                            </p>
                            <i>2019-05-07</i>
                        </a>
                    </li>
                    <li class="">
                        <a href='/site/newsdetails?id=12'>
                            <h3>请家教前应做以下几点准备</h3>
                            <p>请家教前家长应跟孩子进行沟通了解，明确孩子对于学习的心态，是厌学，是根本不喜欢某类科目，还是喜欢但是没有好的学习方法而造成学习成绩不理想等等问题。</p>
                            <i>2019-05-07</i>
                        </a>
                    </li>
                    <li class="">
                        <a href='/site/newsdetails?id=11'>
                            <h3>请家教辅导三大注意事项</h3>
                            <p>​面对孩子不是很理想的成绩单，许多家长选择了请家教来帮助孩子学习，提高成绩。初三和高三的学生进入了中、高考的冲刺阶段，最后的半年时间至关重要，如果能得到全面系统的复习，把握好考试的趋势，相信一定会成为中高考的最后胜利者
                            </p>
                            <i>2019-05-07</i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--        <script>-->
            <!--            tabClick(".fkxx a",'fk_on',".new_t")-->
            <!--        </script>-->
        </div>
    </div>
    <!--footer-->
    <div>
        <div class="footer">
            <div class="wp">
                <div class="footer_con clear">
                    <span>友情链接</span>
                    <div class="footer_con_t">
                        <a href="https://www.baidu.com/?tn=02003390_3_hao_pg">百度</a>
                    </div>
                </div>
                <div class="footer_bo clear">
                    <div class="footer_bo_l fl">
                        <p>24小时热线：10086-11 Yn2018ssry（微信）</p>
                        <p>在线QQ：2991044231 邮箱：2991044231@qq.com 传真：029-88645065</p>
                        <p>公司地址：NO伍佰教育科技有限公司总部</p>
                        <p> <img src="images/comp.png" alt=""> 陕公网安备 61010402000427号</p>
                        <p>©2017 - 2019 NO伍佰教育科技有限公司 </p>
                        <p>技术支持：<a href="javascript:;" target="_blank">西安NO伍佰教育科技有限公司</a></p>

                    </div>
                    <div class="footer_bo_r fr">
                        <ul class="clear">
                            <li>
                                <!-- <img src="http://img.zhishanshi.com/web/image/201905/1559282162468.png" alt=""> -->
                                <img src="images/20191213214440.jpg" alt="">
                                <p>扫描QQ二维码</p>
                            </li>
                            <li>
                                <img src="images/20191213215158.png" alt="">
                                <p>微信公众号</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {//动态加载老师的图片和信息 (编号 , 图片地址,身份,自我评价,)
        $.ajax({
            url: "http://127.0.0.1:8000/teacher/search",
            dataType: "json",
            type: "GET",
            success: function (data) {
                if (data.code == 200) {
                    console.log(data.data)
                    var html =""
                    for (var i=0;i<data.data.length;i++) {
                        html += "<div class='jiaoyu_li'>"
                        html += " <li class='lll'>"
                        html += "<img style='width: 140px;height: 190px;margin-left: 5px;position: relative;left: 10px;' src="+data.data[i].img_url+">"
                        html += "<div class='jyk_t1'>"
                        html +="<h3 style='height: 25px; overflow: hidden;'>"+data.data[i].id+"</h3>"
                        html += "<h3 style='height: 25px; overflow: hidden;'>"+data.data[i].teacher_name+"<span> ["+data.data[i].teacher_type+"] </span></h3>"
                        html +="<p style='line-height: 1.4;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;'><i style='color: #333333'>自我评价</i>:"+data.data[i].teacher_info+"</p>"
                        html +="<a href='info.html?id="+data.data[i].teacher_account+"' class='a_on'>查看简历</a>"
                        html +=" </div>"
                        html +=" </li>"
                        html +="</div>"
                    }
                    $("#content").html(html)
                }else{
                    console.log(data.error)
                }

            },
            error:function(error){
                alert("服务器正忙,请稍后")
            }

        })
    })
    $(function(){//动态加载学生的信息 (姓名,性别,在读年级,求学科目 ,区域,状态,发布时间)
        $.ajax({
            url: "http://127.0.0.1:8000/user/search",
            dataType: "json",
            type: "GET",
            success: function (data) {
                console.log(10)
                if (data.code == 200) {
                    var html =""
                    for (var i=0;i<data.data.length;i++) {
                        html +="<tr>"
                        html +="<td><a href='user_detailed_info.html?id="+data.data[i].user_account+"'>"+ data.data[i].user_name+"</a></td>"
                        html +="<td><a>"+data.data[i].user_sex+"</a></td>"
                        html +="<td class='td1'><a>"+data.data[i].user_grade+"</a></td>"
                        html +="<td class='td2'><a>"+data.data[i].user_course_name+"</a></td>"
                        html +="<td><a>"+data.data[i].user_address+"</a></td>"
                        html +="<td><a >面议</a></td>"
                        html +="<td><i class='i1'><a>新</a></i></td>"
                        html +=" <td><a>"+data.data[i].user_createtime+"</a></td>"
                        html +="</tr>"
     
                        
                    }
                    $("#student_content").html(html)
                }else{
                    console.log(data.error)
                }


            },
            error:function(error){
                alert("服务器正忙,请稍后")
            }

        })

    })
    
                            
                            
                            
                            
</script>

</html>