<!DOCTYPE HTML>
<html>

<head>
	<title>文章中心</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="css/wenzhangzhongxin.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Refinement Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/slick.js"></script>
	<!--<script src="js/layer.js"></script>-->
	<!--<script src="js/hm.js"></script>-->
	<script src="js/placeholder.js"></script>
	<!--<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>-->
	<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>-->
	<link rel="stylesheet" href="css/slick.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/webnet.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/layer.css" type="text/css" media="all">
	<script src="js/bootstrap.js"></script>
	<style>
		.fullcategory {
			width: 220px;
			height: 383px;
		}

		.jbxx .jbxx_d .jbxx_d1 ul>li .div1 .select-menu-ul1 {
			list-style: none;
			opacity: 0;
			display: none;
			width: 100%;
			text-align: left;
			border: 1px solid #ddd;
			background: #fff;
			position: fixed;
			bottom: 0;
			left: 0px;
			z-index: 9999;
			height: 310px;
			overflow: scroll;
			margin-top: 50px;
			list-style: none;
			opacity: 0;
			display: none;
			width: 336px;
			text-align: left;
			border: 1px solid #ddd;
			background: #fff;
			position: absolute;
			z-index: 1;
			left: 250px;
			top: 70px;
		}
	</style>
</head>

<body>

	<!--header-->
	<div class="headerbanr">
		<div class="container">
			<div class="header-top">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
								data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="navbar-brand">
								<h1><a href="index.html"><B>NO伍佰家教</B></a></h1>
							</div>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
								<li><a href="about.html">关于</a></li>
								<li><a href="services.html">服务</a></li>
								<li>
									<a href="teachergallery.html">教员库 </a>
								</li>
								<li>
									<a href="usergallery.html">学员库 </a>
								</li>
								<li class="active"><a href="information.html">文章中心</a></li>
								<li><a href="contact.html">联系我们</a></li>
								<li id="log"><a href="login.html">登录</a></li>
								<li id="zc"><a href="register.html">注册</a></li>
								<span id="login" style="color: crimson;"></span>&nbsp;&nbsp;&nbsp;<span id="register"
									style="color: crimson;"></span>
								<script src="js/yanzheng1.js"></script>
							</ul>

						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>

			</div>
		</div>
	</div>
	<!-- header end-->
	<div id="all_main_all">
		<!-- <div id="news_main_all_benner">
	<span style="float:left; margin-left:760px; margin-top:20px; color:#997e53; font-size:20px">131-8612-8906</span>
	</div> -->
		<div id="all_main_all_box">
			<div id="all_main_all_box_left">
				<div id="all_main_all_box_left_top">当前位置：文章中心&nbsp;>>&nbsp;</div>
				<div id="all_main_all_box_left_mid">
					<div id="dowmload_box">
						<div id="title">
							<div class="tltle_box" style="padding-left:20px; margin-right:160px;">文章标题</div>
							<div
								style="width:130px; height:38px; line-height:38px; text-align:center; float:right; color:#ff510a; font-weight:bold">
								发布时间</div>
						</div>
						<div class="clear"></div>
						<div id="dowmload_box_center">
							<table width="100%" border="0" cellpadding="0" cellspacing="0" id="teacher">
								<tr>
									<td width="80%" style="border-bottom:1px dashed #CCCCCC;">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="" target="_blank">这些方法让你养出好脾气宝贝</a></td>
									<td width="20%" align="center" style="border-bottom:1px dashed #CCCCCC;">
										[2019-06-02]</td>
								</tr>
							</table>
						</div>
						<div id="dowmload_box_page">
							共:98条信息&nbsp;&nbsp;&nbsp;当前:<span>1</span>/5&nbsp;页&nbsp;&nbsp;&nbsp;
							<a href="/article0/page1.html">首页</a>&nbsp;&nbsp;
							上一页&nbsp;&nbsp;
							<a href="/article0/page2.html">下一页</a>&nbsp;&nbsp;
							<a href="/article0/page5.html">尾页</a>&nbsp;&nbsp;

							转到
							<select name="page_SEL" onChange="MM_jumpMenu('parent',this,0)">

								<option value="/article0/page1.html">1</option>
								<option value="/article0/page2.html">2</option>
								<option value="/article0/page3.html">3</option>
								<option value="/article0/page4.html">4</option>
								<option value="/article0/page5.html">5</option>
							</select>
						</div>
					</div>
					<div id="dowmload_box">
						<div id="title">
							<div class="tltle_box" style="padding-left:20px; margin-right:160px;">文章标题</div>
							<div
								style="width:130px; height:38px; line-height:38px; text-align:center; float:right; color:#ff510a; font-weight:bold">
								发布时间</div>
						</div>
						<div class="clear"></div>
						<div id="dowmload_box_center">
							<table width="100%" border="0" cellpadding="0" cellspacing="0" id ="user">
								
							</table>
						</div>
						<div id="dowmload_box_page">
							共:98条信息&nbsp;&nbsp;&nbsp;当前:<span>1</span>/5&nbsp;页&nbsp;&nbsp;&nbsp;
							<a href="/article0/page1.html">首页</a>&nbsp;&nbsp;
							上一页&nbsp;&nbsp;
							<a href="/article0/page2.html">下一页</a>&nbsp;&nbsp;
							<a href="/article0/page5.html">尾页</a>&nbsp;&nbsp;

							转到
							<select name="page_SEL" onChange="MM_jumpMenu('parent',this,0)">

								<option value="/article0/page1.html">1</option>
								<option value="/article0/page2.html">2</option>
								<option value="/article0/page3.html">3</option>
								<option value="/article0/page4.html">4</option>
								<option value="/article0/page5.html">5</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div id="all_main_all_box_right">
				<div id="all_main_all_box_right_menu">
					<!-- <div id="top"><img src="images/about_right_top_01.jpg"></div> -->
					<div id="mid">
						<div id="nav"><img src="images/about_right_top_07.jpg"></div>
						<div id="dh">
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/1.html">学员必读</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/2.html">教员必读</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/5.html">英语学习</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/6.html">学习资料</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/7.html">学习宝典</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/8.html">高考资讯</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/9.html">中考资讯</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/10.html">家长加油站</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/11.html">情感教育</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/16.html">招贤纳士</a></div>
								<div class="right"></div>
							</div>
							<div class="list">
								<div class="left"></div>
								<div class="center"><a href="/articlelist/19.html">数学学习</a></div>
								<div class="right"></div>
							</div>
						</div>
					</div>
					<div id="bot"></div>
				</div>
			</div>
		</div>

		<div class="sczp_d">
			<li class="clear">
				<p><b>文章标题:</b></p>

				<input type="text" id="title " name="title">
			</li>
			<li class="clear">
				<p><b>文章内容:</b></p>

				<textarea placeholder="发表自己的心得体会:" name="user_info" id="customerMessage"
					style="width:76%; height:300px;"></textarea>
			</li>
			<div class="v1 clear">
				<input type="button" id="sendtext" name="sendtext" value="发表">
			</div>
		</div>
	</div>
	<!-- 文章发表的ajax请求 -->
	<script>
		$(function(){
			$.ajax({
				url:"http://127.0.0.1:8000/user/article_search",
				type:"GET",
				dataType:"json",
				success:function(data){
					if(data.code=200){
						console.log(data.data)
						var html =""
						for (var i=0 ;i<data.data.length; i++){
							html += "<tr>"
							html +=	"<td width='80%' style='border-bottom:1px dashed #CCCCCC;'>"
							html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
							html += "<a href='article_detailed.html?user_article_id="+data.data[i].id+"' target='blank'>"+data.data[i].user_article_title+"</a></td>"
							html += "<td width='20%'' align='center' style='border-bottom:1px dashed #CCCCCC;'>"
							html +=""+ data.data[i].create_time+"</td>"
							html += "</tr>"
						}
						$("#user").html(html)
					}else{
						console.log(data.error)
					}
				},error:function(data){
					console.log(data)
				}

			})
		})

		$("#sendtext").click(function () {
			var teacher_account = window.localStorage.teacher_account
			var teacher_token = window.localStorage.teacher_token
			var user_account = window.localStorage.user_account
			var title = $("input[name=title]").val()
			console.log(title)
			var customerMessage = $("#customerMessage").val()
			console.log(customerMessage)
			if (!teacher_account && !user_account) {
				alert("您还未登陆,请先登录在发表")
				return;
			}
			//如果是老师登录给老师模块发表请求
			if (teacher_account) {
				//将用户名和token发送给后端判断是否用户等路信息是否有效
				$.ajax({
					url: "http://127.0.0.1:8000/teacher/article",
					beforeSend: function (request) {
						request.setRequestHeader("authorization", localStorage.getItem("teacher_token"))
					},
					data:JSON.stringify({"title":title,"customerMessage":customerMessage,"teacher_token":teacher_token}),
					type:"POST",
					dataType:"json",
					contentType:"Aplication/json",
					success:function(data){
						if (data.code==200){
							alert("发表成功")
						}else if (data.code == 10115 || data.code == 10116 || data.code == 10118) {
                        alert(data.error);
                        window.localStorage.removeItem('teacher_account');
                        window.localStorage.removeItem('teacher_token');
                        window.location.href = "login.html";
                    }else{
						alert(data.error)
					}
					},
					error:function(data){
						console.log(data)
					}

				})
			}
			//如果是学生登录模块发表请求
			if (user_account) {
				$.ajax({
					url: "http://127.0.0.1:8000/user/article",
					beforeSend: function (request) {
						request.setRequestHeader("authorization", localStorage.getItem("user_token"))
					},
					data:JSON.stringify({"title":title,"customerMessage":customerMessage}),
					type:"POST",
					dataType:"json",
					contentType:"Aplication/json",
					success:function(data){
						if (data.code==200){
							alert("发表成功")
						}else if(data.code == 20112 || data.code == 20113 ||data.code == 201114) {
                        alert(data.error);
                        window.localStorage.removeItem('user_account');
                        window.localStorage.removeItem('user_token');
                        window.location.href = "login.html";
                    }else{
						alert(data.error)
					}
					},
					error:function(data){
						console.log(data)
					}
				})
			}
		})

	</script>

	<!--footer-->
	<div>
		<div class="footer">
			<div class="wp">
				<div class="footer_con clear">
					<span>友情链接</span>
					<div class="footer_con_t">
						<a href="https://www.baidu.com/?tn=02003390_3_hao_pg">百度</a>
					</div>
				</div>
				<div class="footer_bo clear">
					<div class="footer_bo_l fl">
						<p>24小时热线：10086-11 Yn2018ssry（微信）</p>
						<p>在线QQ：2991044231 邮箱：2991044231@qq.com 传真：029-88645065</p>
						<p>公司地址：NO伍佰教育科技有限公司总部</p>
						<p> <img src="images/comp.png" alt=""> 陕公网安备 61010402000427号</p>
						<p>©2017 - 2019 NO伍佰教育科技有限公司 </p>
						<p>技术支持：<a href="javascript:;" target="_blank">西安NO伍佰教育科技有限公司</a></p>

					</div>
					<div class="footer_bo_r fr">
						<ul class="clear">
							<li>
								<!-- <img src="http://img.zhishanshi.com/web/image/201905/1559282162468.png" alt=""> -->
								<img src="images/20191213214440.jpg" alt="">
								<p>扫描QQ二维码</p>
							</li>
							<li>
								<img src="images/20191213215158.png" alt="">
								<p>微信公众号</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>