<!DOCTYPE HTML>
<html>
<head>
<title>教员库</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Refinement Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/slick.js"></script>
<!--<script src="js/layer.js"></script>-->
<!--<script src="js/hm.js"></script>-->
    <script src="js/placeholder.js"></script>
<!--<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>-->
<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/webnet.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/layer.css" type="text/css" media="all">
    <script src="js/bootstrap.js"></script>
    <style>
        .fullcategory {
            width: 220px;
            height: 383px;
        }
        .jbxx .jbxx_d .jbxx_d1 ul > li .div1 .select-menu-ul1 {
            list-style: none;
            opacity: 0;
            display: none;
            width: 100%;
            text-align: left;
            border: 1px solid #ddd;
            background: #fff;
            position: fixed;
            bottom: 0;
            left: 0px;
            z-index: 9999;
            height: 310px;
            overflow: scroll;
            margin-top: 50px;
            list-style: none;
            opacity: 0;
            display: none;
            width: 336px;
            text-align: left;
            border: 1px solid #ddd;
            background: #fff;
            position: absolute;
            z-index: 1;
            left: 250px;
            top: 70px;
        }
    </style>
</head>
<body>

		<!--header-->
			<div class="headerbanr">
				<div class="container">
					<div class="header-top">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
									  </button>
									<div class="navbar-brand">
										<h1><a href="index.html"><B>NO伍佰家教</B></a></h1>
									</div>
								</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
									<li><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
									<li><a href="about.html">关于</a></li>
									<li><a href="services.html">服务</a></li>
									<li class="active" class="dropdown">
										<a href="teachergallery.html">教员库 </a>
									</li>
                                   <li class="dropdown">
										<a href="usergallery.html">学员库 </a>
									</li>
                                    <li><a href="information.html">文章中心</a></li>
								  	<li><a href="contact.html">联系我们</a></li>
									<li id="log"><a href="login.html">登录</a></li>
									<li id="zc"><a href="register.html">注册</a></li>
									<span id ="login" style="color: crimson;"></span>&nbsp;&nbsp;&nbsp;<span id ="register" style="color: crimson;"></span>
									<script src="js/yanzheng1.js"></script>
								</ul>

							</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
						</nav>

					</div>
			</div>
	</div>
<!--header-->
	<div class="content">
			<!-- gallery -->
		<div class="gallery-top">
			<!-- container -->
			<div class="container">
				<div class="gallery-info">
					<h2>教员库</h2>
				</div>
				<div class="gallery-grids-top">
					<div class="gallery-grids" id ="content">
						<!-- <div class="col-md-3 gallery-grid">
							<a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set" data-title=""><img class="example-image" src="images/g1.jpg" alt=""/></a>
						</div> -->
						<!-- <div class="clearfix"> </div> -->
					</div>
					<script src="js/lightbox-plus-jquery.min.js"></script>
				</div>
			</div>
		</div>
	</div>
			<!--footer-->
<div>
	<div class="footer">
    <div class="wp">
        <div class="footer_con clear">
            <span>友情链接</span>
            <div class="footer_con_t">
                <a href="https://www.baidu.com/?tn=02003390_3_hao_pg">百度</a>
            </div>
        </div>
                <div class="footer_bo clear">
            <div class="footer_bo_l fl">
                <p>24小时热线：10086-11   Yn2018ssry（微信）</p>
                <p>在线QQ：2991044231  邮箱：2991044231@qq.com  传真：029-88645065</p>
                <p>公司地址：NO伍佰教育科技有限公司总部</p>
              <p> <img src="images/comp.png" alt=""> 陕公网安备 61010402000427号</p>
                <p>©2017 - 2019 NO伍佰教育科技有限公司 </p>
                <p>技术支持：<a href="javascript:;" target="_blank">西安NO伍佰教育科技有限公司</a></p>

            </div>
            <div class="footer_bo_r fr">
                <ul class="clear">
                    <li>
                      <!-- <img src="http://img.zhishanshi.com/web/image/201905/1559282162468.png" alt=""> -->
                        <img src="images/20191213214440.jpg" alt="">
                        <p>扫描QQ二维码</p>
                    </li>
                    <li>
                        <img src="images/20191213215158.png" alt="">
                        <p>微信公众号</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<script>
	$(function () {//动态加载老师的图片和信息 (图片地址)
        $.ajax({
            url: "http://127.0.0.1:8000/teacher/search",
            dataType: "json",
            type: "GET",
            success: function (data) {
                if (data.code == 200) {
                    console.log(data.data)
                    var html =""
                    for (var i=0;i<data.data.length;i++) {
						html += "<div class='col-md-3 gallery-grid'>"
						html += "<a href='info.html?id="+data.data[i].teacher_account+"' class='a_on'>点击查看</a><img class='example-image' style='height:191.25px' src='"+data.data[i].img_url+"' alt=''/>"
						html += "</div>"
                    }
                    $("#content").html(html)
					
                }else{
                    console.log(data.error)
                }

            },
            error:function(error){
                alert("服务器正忙,请稍后")
            }

        })
    })
</script>
</body>
</html>
