<!DOCTYPE HTML>
<html>

<head>
    <title>资料完善页</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Refinement Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/index.js"></script>
    <!-- <script src="js/layer.js"></script> -->
    <!--<script src="js/hm.js"></script>-->
    <script src="js/placeholder.js"></script>
    <!--<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/webnet.css">
    <script src="js/bootstrap.js"></script>
    <style>
        .fullcategory {
            width: 220px;
            height: 383px;
        }

        .jbxx .jbxx_d .jbxx_d1 ul>li .div1 .select-menu-ul1 {
            list-style: none;
            opacity: 0;
            display: none;
            width: 100%;
            text-align: left;
            border: 1px solid #ddd;
            background: #fff;
            position: fixed;
            bottom: 0;
            left: 0px;
            z-index: 9999;
            height: 310px;
            overflow: scroll;
            margin-top: 50px;
            list-style: none;
            opacity: 0;
            display: none;
            width: 336px;
            text-align: left;
            border: 1px solid #ddd;
            background: #fff;
            position: absolute;
            z-index: 1;
            left: 250px;
            top: 70px;
        }
    </style>
</head>

<body>

    <!--header-->
    <div class="headerbanr">
        <div class="container">
            <div class="header-top">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand">
                                <h1><a href="index.html">No伍佰家教</a></h1>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
                                <li><a href="about.html">关于</a></li>
                                <li><a href="services.html">服务</a></li>
                                <li>
                                    <a href="teachergallery.html">教员库 <span class="caret"></span></a>
                                </li>
                                <li>
                                    <a href="usergallery.html">学员库 <span class="caret"></span></a>
                                </li>
                                <li><a href="codes.html">代码</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                                <li id="log"><a href="login.html">登录</a></li>
                                <li id="zc"><a href="register.html">注册</a></li>
                                <span id="login" style="color: crimson;"></span>&nbsp;&nbsp;&nbsp;<span id="register"
                                    style="color: crimson;"></span>
                                <script src="js/yanzenglogin.js"></script>
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

            </div>
        </div>
    </div>

    <!--基本资料-->
    <form>
        <div class="jbxx wp">
            <div class="jbxx_t">
                <h3>填写基本信息【教员务必认真填写】</h3>
            </div>
            <div class="jbxx_d">
                <h3 style="font-size: 18px">基本资料</h3>
                <div class="jbxx_d1">

                    <ul>
                        <li class="clear">
                            <span>姓名：</span>
                            <div class="div1 clear">
                                <input style=" width: 13%;" name="name" type="text">
                                <p><i>*</i>请填写真实姓名，只有管理员可以看到您姓名。</p>
                            </div>
                        </li>
                        <li class="clear">
                            <span>性别：</span>
                            <div class="div1 clear">
                                <div class="xb clear">
                                    <div class="female fl">
                                        <input value="1" type="radio" id="female" name="sex" checked />
                                        <label for="female">男</label>
                                    </div>
                                    <div class="male fl">
                                        <input value="2" type="radio" id="male" name="sex" />
                                        <label for="male">女</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clear">
                            <span>出生日期：</span>
                            <div class="div1 clear">
                                <div class="select-menu-div1 fl">
                                    <input name="year" readonly="" class="select-menu-input1" style="width: 92px">
                                    <i class="xia1 " style="left: 66px"></i>
                                </div>
                                <ol class="select-menu-ul1" style="    width: 92px;">
                                    <li value="data-2010" class="select-this1 ">2010</li>
                                    <li data='year-2008'>2008</li>
                                    <li data='year-2007'>2007</li>
                                    <li data='year-2006'>2006</li>
                                    <li data='year-2005'>2005</li>
                                    <li data='year-2004'>2004</li>
                                    <li data='year-2003'>2003</li>
                                    <li data='year-2002'>2002</li>
                                    <li data='year-2001'>2001</li>
                                    <li data='year-2000'>2000</li>
                                    <li data='year-1999'>1999</li>
                                    <li data='year-1998'>1998</li>
                                    <li data='year-1997'>1997</li>
                                    <li data='year-1996'>1996</li>
                                    <li data='year-1995'>1995</li>
                                    <li data='year-1994'>1994</li>
                                    <li data='year-1993'>1993</li>
                                    <li data='year-1992'>1992</li>
                                    <li data='year-1991'>1991</li>
                                    <li data='year-1990'>1990</li>
                                    <li data='year-1989'>1989</li>
                                    <li data='year-1988'>1988</li>
                                    <li data='year-1987'>1987</li>
                                    <li data='year-1986'>1986</li>
                                    <li data='year-1985'>1985</li>
                                    <li data='year-1984'>1984</li>
                                    <li data='year-1983'>1983</li>
                                    <li data='year-1982'>1982</li>
                                    <li data='year-1981'>1981</li>
                                    <li data='year-1980'>1980</li>
                                    <li data='year-1979'>1979</li>
                                    <li data='year-1978'>1978</li>
                                    <li data='year-1977'>1977</li>
                                    <li data='year-1976'>1976</li>
                                    <li data='year-1975'>1975</li>
                                    <li data='year-1974'>1974</li>
                                    <li data='year-1973'>1973</li>
                                    <li data='year-1972'>1972</li>
                                    <li data='year-1971'>1971</li>
                                    <li data='year-1970'>1970</li>
                                </ol>
                                <span style="width: auto;margin: 0 0.8rem;line-height: 50px">年</span>
                                <div class="select-menu-div1 fl">
                                    <input name="month" readonly="" class="select-menu-input1" style="width: 72px">
                                    <i class="xia1 " style="left: 46px"></i>
                                </div>
                                <ol class="select-menu-ul1" style=" margin-left: 131px;   width: 73px;">
                                    <li data="month-12" class="select-this1">12</li>
                                    <li data="month-11">11</li>
                                    <li data="month-10">10</li>
                                    <li data="month-9">9</li>
                                    <li data="month-8">8</li>
                                    <li data="month-7">7</li>
                                    <li data="month-6">6</li>
                                    <li data="month-5">5</li>
                                    <li data="month-4">4</li>
                                    <li data="month-3">3</li>
                                    <li data="month-2">2</li>
                                    <li data="month-1">1</li>
                                </ol>
                                <span style="width: auto;margin: 0 0.8rem;line-height: 50px">月</span>
                            </div>
                        </li>
                        <!-- <li class="clear">
                            <span>所在城区：</span>
                            <div class="div1 clear">
                                <div class="select-menu-div1">
                                    <input name="area" readonly="" class="select-menu-input1">
                                    <i class="xia1 " style="    left: 127px;"></i>
                                </div>
                                <ol class="select-menu-ul1" style="width: 160px;">
                                    <li data="area-0" class="select-this1">选择地区</li>
                                    <li data='area-370702'>末央区</li>
                                    <li data='area-370703'>长安区</li>
                                    <li data='area-370704'>雁塔区</li>
                                    <li data='area-370705'>碑林区</li>
                                    <li data='area-370724'>高新区</li>
                                    <li data='area-370725'>莲湖区</li>
                                    <li data='area-370781'>灞桥区</li>
                                    <li data='area-370782'>西咸新区</li>
                                    <li data='area-370783'>临潼区</li>
                                    <li data='area-370784'>新城区</li>
                                    <li data='area-370785'>阎良区</li>
                                    <li data='area-370786'>鄠邑区</li>
                                    <li data='area-370787'>蓝田县</li>
                                    <li data='area-370788'>周至县</li>
                                </ol>
                            </div>
                        </li> -->
                        <!-- <li class="clear">
                            <span>寒暑假是否在西安市：</span>
                            <div class="div1 clear">
                                <div class="xb clear">
                                    <div class="female fl">
                                        <input type="radio" id="gvb" name="erf" checked />
                                        <label for="gvb">在西安市</label>
                                    </div>
                                    <div class="male fl">
                                        <input type="radio" id="dfh" name="erf" />
                                        <label for="dfh">不在西安市</label>
                                    </div>
                                </div>

                            </div>
                        </li> -->
                        <li class="clear">
                            <span>籍贯：</span>
                            <div class="div1 clear">
                                <input name="city" type="text" style="    width: 17%;">
                                <p><i>*</i>如输入“陕西西安”</p>

                            </div>
                        </li>
                        <li class="clear">
                            <span>目前身份：</span>
                            <div class="div1 clear">
                                <div class="select-menu-div1">
                                    <input name="tutor_type" readonly="" class="select-menu-input1" style="width: 20%;">
                                    <i class="xia1 " style=" left:81px;"></i>
                                </div>
                                <ol class="select-menu-ul1"
                                    style="display: none; margin-top: 50px; opacity: 0;    width: 187px;">
                                    <li data="tutor_type-0" class="select-this1">选择教员类型</li>
                                    <li class="" data="tutor_type-1">本科在读</li>
                                    <li class="" data="tutor_type-2">本科大一在读</li>
                                    <li class="" data="tutor_type-3">本科大二在读</li>
                                    <li class="" data="tutor_type-4">本科大三在读</li>
                                    <li class="" data="tutor_type-5">本科大四在读</li>
                                    <li class="" data="tutor_type-6">本科大五在读</li>
                                    <li class="" data="tutor_type-7">本科毕业</li>
                                    <li class="" data="tutor_type-8">硕士在读</li>
                                    <li class="" data="tutor_type-9">硕士毕业</li>
                                    <li class="" data="tutor_type-10">博士在读</li>
                                    <li class="" data="tutor_type-11">博士毕业</li>
                                    <li class="" data="tutor_type-12">退休幼儿教师</li>
                                    <li class="" data="tutor_type-13">在职幼儿教师</li>
                                    <li class="" data="tutor_type-14">退休小学教师</li>
                                    <li class="" data="tutor_type-15">在职小学教师</li>
                                    <li class="" data="tutor_type-16">退休初中教师</li>
                                    <li class="" data="tutor_type-17">在职初中教师</li>
                                    <li class="" data="tutor_type-18">退休高中教师</li>
                                    <li class="" data="tutor_type-19">在职高中教师</li>
                                    <li class="" data="tutor_type-20">退休大学教师</li>
                                    <li class="" data="tutor_type-21">在职大学教师</li>
                                    <li class="" data="tutor_type-22">退休培训机构教师</li>
                                    <li class="" data="tutor_type-23">在职培训机构教师</li>
                                    <li class="" data="tutor_type-24">外籍教师</li>
                                    <li class="" data="tutor_type-25">外籍留学生</li>
                                </ol>

                            </div>
                        </li>

                        <li class="clear">
                            <span city='370700'>就读/毕业学校：</span>
                            <div class="div1 clear">
                                <!-- <div class="select-menu-div1">
                                    <input name="scholl" readonly="" class="select-menu-input1" style="    width: 26%;">
                                    <i class="xia1 " style="left:213px;"></i>
                                </div> -->
                                <!-- <ol class="select-menu-ul1" style="    width: 244px;">
                                    <li data="scholl-0" class="select-this1" city='370700'>请选择学校</li>
                                    <li data='scholl-551' class=''></li>
                                    <li data='scholl-552' class=''>潍坊医学院</li>
                                    <li data='scholl-553' class=''>潍坊科技学院</li>
                                </ol> -->
                                <input name="school_name" type="text" style="width: 26%;" placeholder="学校名称">
                                <p><i>*</i>(专职教师不对外公开)</p>
                            </div>
                        </li>
                        <li class="clear">
                            <span>学历：</span>
                            <div class="div1 clear">
                                <input name="cate" type="text" style="width: 26%;" placeholder="比如:本科或者高中等">
                                <p><i>*</i></p>
                            </div>
                        </li>
                        <li class="clear">
                            <span>所获证书：</span>
                            <div class="div1 clear">
                                <input name="certificate" type="text" style="width: 26%;" placeholder="比如:英语四级">
                            </div>
                        </li>
                        <li class="clear">
                            <span>可授课科目：</span>
                            <div class="div1 clear">
                                <input name="available_subjects" type="text" style="width: 26%;" placeholder="比如:数学">
                            </div>
                        </li>
                        <li class="clear">
                            <span>可授课年级：</span>
                            <div class="div1 clear">
                                <input name="available_grad" type="text" style="width: 26%;" placeholder="比如:数学">
                            </div>
                        </li>
                        <li class="clear">
                            <span>授课区域:</span>
                            <div class="div1 clear">
                                <input name="teaching_area" type="text" style="width: 26%;" placeholder="比如:陕西西安">
                            </div>
                        </li>
                        <li class="clear">
                            <span>授课方式：</span>
                            <div class="div1 clear">
                                <input name="teaching_way" type="text" style="width: 26%;" placeholder="比如:面议">
                            </div>
                        </li>
                        <li class="clear">
                            <span>自我评价：</span>
                            <div class="div1 clear">
                                <input name="self_assessment" type="text" style="width: 26%;" placeholder="比如:积极乐观">
                            </div>
                        </li>

                        <li class="clear">
                            <span>身份证：</span>
                            <div class="div1 clear">
                                <input name="id" type="text" style="width: 26%;">
                                <p><i>*</i>此项严格保密，本网站管理员无权查看，仅审核专员可见，请放心填写。</p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="jbxx_d">
                <h3 style="font-size: 18px">联系方式</h3>
                <div class="jbxx_d1">
                    <form action="">

                        <ul>
                            <li class="clear">
                                <span>目前住址：</span>
                                <div class="div1">
                                    <input name="address" type="text">
                                    <p><i>*</i></p>
                                </div>
                            </li>
                            <li class="clear">
                                <span>手机号：</span>
                                <div class="div1">
                                    <input name="mobile" type="text">
                                    <p><i>*</i>【电话号码请填写在合适的位置，否则不予通过审核】</p>
                                </div>
                            </li>
                            <!-- <li class="clear">
                                <span>微信号：</span>
                                <div class="div1">
                                    <input name="tel" type="text">
                                    <p><i>*</i></p>
                                </div>
                            </li>
                            <li class="clear">
                                <span>QQ号：</span>
                                <div class="div1">
                                    <input name="qq" type="text">
                                    <p><i>*</i></p>
                                </div>
                            </li> -->
                        </ul>
                    </form>
                </div>
            </div>
            <div class="tj">

                <li>
                    <input class="reg_naxt" class="study_reg" type="button" value="提交资料">
                </li>
            </div>
        </div>
        <div>
            <!--导航-->
            <!--banner2-->
            <!--上传照片-->
            <div class="jbxx wp">
                <!-- <div class="jbxx_t">
                        <h3>潍坊市教教员管理中心</h3>
                    </div> -->


                <div class="sczp">
                    <div class="sczp_t">
                        <h3>展示您个人的成果及上传您的照片</h3>
                    </div>
                    <div class="sczp_d">
                        <li class="clear">
                            <p><b>教师成果描述:</b></p><textarea placeholder="非必填,展示老师自身的教学经验或者教学成果:" name="user_info"
                                id="customerMessage" style="width:80%; height:300px;"></textarea>
                        </li>
                        <div class="v1 clear">
                            <input type="button" id="sendComment" name="sendComment" value="发表">
                        </div>
                        <!-- <p>虽然外貌不能代表实力,但是事实上外貌却是家长考虑的重要因素，上传照片争取每一次机会
                                图会显示在教员家教简历中公开展示，请选择合适的个人照片，姿势尽量不要太夸张即可，最好上传本人工正装作照。
                                请不要上传"风景"、"影视名星"、"宠物"、"卡通"等非本人照片。</p> -->
                        <p><b>请选择您要上传的照片：</b></p>
                        <form action="{% url 'bbs:u_a' %}" enctype="multipart/form-data" method="POST">
                            图片上传: <input type="file" name="img" id="id_img" onchange="UploadFile2();" />
                            <div>
                                <p>图片预览</p>
                                <img id ="img" style="width: 200px;height: 200px;">
                            </div>
                        </form>



                    </div>

                </div>
            </div>
        </div>
        </div>
    </form>
    <script>

        $(function () {
            $('.slick').slick({
                dots: true,
                autoplay: true,
                arrows: false
            });
            selectMenu(0);
            selectMenu(1);
            selectMenu(2);

            function selectMenu(index) {
                $(".select-menu-input").eq(index).val($(".select-this").eq(index).html());//在输入框中自动填充第一个选项的值
                $(".select-menu-div").eq(index).on("click", function (e) {
                    e.stopPropagation();
                    if ($(".select-menu-ul").eq(index).css("display") === "block") {
                        $(".select-menu-ul").eq(index).hide();
                        $(".select-menu-div").eq(index).find("i").removeClass("select-menu-i");
                        $(".select-menu-ul").eq(index).animate({ marginTop: "50px", opacity: "0" }, "fast");
                    } else {
                        $(".select-menu-ul").eq(index).show();
                        $(".select-menu-div").eq(index).find("i").addClass("select-menu-i");
                        $(".select-menu-ul").eq(index).animate({ marginTop: "5px", opacity: "1" }, "fast");
                    }
                    for (var i = 0; i < $(".select-menu-ul").length; i++) {
                        if (i !== index && $(".select-menu-ul").eq(i).css("display") === "block") {
                            $(".select-menu-ul").eq(i).hide();
                            $(".select-menu-div").eq(i).find("i").removeClass("select-menu-i");
                            $(".select-menu-ul").eq(i).animate({ marginTop: "50px", opacity: "0" }, "fast");
                        }
                    }
                });
                $(".select-menu-ul").eq(index).on("click", "li", function () {//给下拉选项绑定点击事件
                    $(".select-menu-input").eq(index).val($(this).html());//把被点击的选项的值填入输入框中
                    $(".select-menu-div").eq(index).click();
                    $(this).siblings(".select-this").removeClass("select-this");
                    $(this).addClass("select-this");
                });
                $("body").on("click", function (event) {
                    event.stopPropagation();
                    if ($(".select-menu-ul").eq(index).css("display") === "block") {
                        console.log(1);
                        $(".select-menu-ul").eq(index).hide();
                        $(".select-menu-div").eq(index).find("i").removeClass("select-menu-i");
                        $(".select-menu-ul").eq(index).animate({ marginTop: "50px", opacity: "0" }, "fast");

                    }
                });
            }
            selectMenu1(0);
            selectMenu1(1);
            selectMenu1(2);
            selectMenu1(3);
            selectMenu1(4);
            selectMenu1(5);
            selectMenu1(6);
            selectMenu1(7);
            selectMenu1(8);
            selectMenu1(9);
            function selectMenu1(index) {
                $(".select-menu-input1").eq(index).val($(".select-this1").eq(index).html());//在输入框中自动填充第一个选项的值
                $(".select-menu-div1").eq(index).on("click", function (e) {
                    e.stopPropagation();
                    if ($(".select-menu-ul1").eq(index).css("display") === "block") {
                        $(".select-menu-ul1").eq(index).hide();
                        $(".select-menu-div1").eq(index).find("i").removeClass("select-menu-i1");
                        $(".select-menu-ul1").eq(index).animate({ marginTop: "50px", opacity: "0" }, "fast");
                    } else {
                        $(".select-menu-ul1").eq(index).show();
                        $(".select-menu-div1").eq(index).find("i").addClass("select-menu-i1");
                        $(".select-menu-ul1").eq(index).animate({ marginTop: "5px", opacity: "1" }, "fast");
                    }
                    for (var i = 0; i < $(".select-menu-ul1").length; i++) {
                        if (i !== index && $(".select-menu-ul1").eq(i).css("display") === "block") {
                            $(".select-menu-ul1").eq(i).hide();
                            $(".select-menu-div1").eq(i).find("i").removeClass("select-menu-i1");
                            $(".select-menu-ul1").eq(i).animate({ marginTop: "50px", opacity: "0" }, "fast");
                        }
                    }
                });
                $(".select-menu-ul1").eq(index).on("click", "li", function () {//给下拉选项绑定点击事件
                    $(".select-menu-input1").eq(index).val($(this).html());//把被点击的选项的值填入输入框中
                    $(".select-menu-div1").eq(index).click();
                    $(this).siblings(".select-this1").removeClass("select-this1");
                    $(this).addClass("select-this1");
                });
                $("body").on("click", function (event) {
                    event.stopPropagation();
                    if ($(".select-menu-ul1").eq(index).css("display") === "block") {
                        console.log(1);
                        $(".select-menu-ul1").eq(index).hide();
                        $(".select-menu-div1").eq(index).find("i").removeClass("select-menu-i");
                        $(".select-menu-ul1").eq(index).animate({ marginTop: "50px", opacity: "0" }, "fast");

                    }
                });
            }
        })
        $('.reg_naxt').click(function () {


            var name = $(' input[name=name]').val()
            if (name == '') {
                alert('请填写姓名'); return false;
            }
            console.log(name)
            // // var area = $(' input[name=area]').val()
            // // if (area == '') {
            // //     alert('请选择地区'); return false;
            // // }
            var sex = $(' input[name=sex]:checked').val();
            console.log(sex)

            // var sel = '';
            // $.each($('.select-this1'), function () {
            //     sel += ',' + $(this).attr('data')
            // });
            var year = $(' input[name=year]').val()
            console.log(year)

            var month = $("input[name=month]").val()
            console.log(month)
            var city = $(' input[name=city]').val()
            if (city == '') {
                alert('请填写籍贯'); return false;
            }
            console.log(city)
            var tutor_type = $(' input[name=tutor_type]').val()
            if (tutor_type == '') {
                alert('请选择教员身份'); return false;
            }
            console.log(tutor_type)
            var school_name = $(' input[name=school_name]').val()
            if (school_name == '') {
                alert('请填写毕业学校'); return false;
            }
            console.log(school_name)
            var certificate = $("input[name=certificate").val()
            if(certificate == ""){
                alert('请填写证书'); return false;
            }
            var available_subjects= $("input[name=available_subjects").val()
            if(available_subjects == ""){
                alert('请填写授课科目'); return false;
            }
            var available_grad= $("input[name=available_grad").val()
            if(available_grad == ""){
                alert('请填写授课年级'); return false;
            }
            var teaching_area = $("input[name=teaching_area").val()
            if(teaching_area == ""){
                alert('请填写授课区域'); return false;
            }
            var teaching_way =$("input[name=teaching_way").val()
            if(teaching_way == ""){
                alert('请填写授课方式'); return false;
            }
            var self_assessment=$("input[name=self_assessment").val()
            if(self_assessment == ""){
                alert('请填写自我评价'); return false;
            }
            var cate = $(' input[name=cate]').val()
            if (cate == '') {
                alert('请填写专业'); return false;
            }
            console.log(cate)
            var id = $(' input[name=id]').val()
            if (!id) {
                alert('请填写身份证号'); return false;
            }
            if (isCardNo(id) == false) {
                alert("身份证输入不合法"); return false;
            }
            console.log(id)
            var address = $(' input[name=address]').val()
            if (address == '') {
                alert('请填写现在住址'); return false;
            }
            console.log(address)
            var mobile = $(' input[name=mobile]').val()
            if (mobile == '') {
                alert('请填写手机号'); return false;
            }
            var pattern = /^1[3456789]\d{9}$/;
            var ret = pattern.test(mobile);
            if (!ret) {
                alert('请填写正确手机号'); return false;
            }
            console.log(mobile)
            var teacher_token = window.localStorage.teacher_token
            var loginName = window.localStorage.teacher_account
            var data = {
                'name': name, 'sex': sex, 'bir': year + month, 'city': city, 'tutor_type': tutor_type, 'cate': cate,
                'school_name': school_name,'mobile': mobile, 'id': id, "teacher_token": teacher_token,
                'address': address,"certificate":certificate,"available_subjects":available_subjects,"available_grad":available_grad,"teaching_area":teaching_area,"teaching_way":teaching_way,
                "self_assessment":self_assessment
            }
            console.log(data)

            $.ajax({
                url: "http://127.0.0.1:8000/teacher/save",
                data: JSON.stringify(data),
                type: 'POST',
                dataType: "json",
                contentType: "Aplcation/json",
                //后端给的数据是{"code":200,"data":{}}
                success: function (data) {
                    if (data.code == 200) {
                        alert('信息保存成功！');
                        window.location.href = 'info.html?loginName=' + loginName
                    }
                    else if (data.code == 10115 || data.code == 10116 || data.code == 10118) {
                        alert(data.error);
                        window.localStorage.removeItem('teacher_account');
                        window.localStorage.removeItem('teacher_token');
                        window.location.href = "login.html";
                    } else {
                        alert(data.error);
                    }

                },
                error: function (data) {
                    alert(data.error);
                    return
                },
            })





            function isCardNo(card) {
                // 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X
                var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
                if (reg.test(card) === false) {
                    return false;
                } else {
                    return true;
                }
            }

        })
        $("#sendComment").click(function () { //点击发表自己的成果事件

            var customerMessage = $("#customerMessage").val()
            console.log(customerMessage)
            var teacher_token = window.localStorage.teacher_token
            data = {
                "teacher_token": teacher_token,
                "customerMessage": customerMessage,
            }


            $.ajax({
                url: "http://127.0.0.1:8000/teacher/send_result",
                data: JSON.stringify(data),
                type: 'POST',
                dataType: "json",
                contentType: "Aplication/json",
                //后端给的数据是{"code":200,"data":{}}
                success: function (data) {
                    if (data.code == 200) {
                        alert(data.data)
                        window.location.href = 'info.html?loginName=' + loginName;
                    }
                    else if (data.code == 10115 || data.code == 10116 || data.code == 10118) {
                        alert(data.error);
                        window.localStorage.removeItem('teacher_account');
                        window.localStorage.removeItem('teacher_token');
                        window.location.href = "login.html";
                    } else {
                        alert(data.error);
                    }

                },
                error: function (data) {
                    alert(data);
                },
            })
        });

        //上传图片
        if (window.localStorage.teacher_token) {
            function UploadFile2() {
                $('#id_img').find('img').remove();
                var fileobj = $("#id_img")[0].files[0];
                var form = new FormData();
                var teacher_token = window.localStorage.teacher_token
                form.append('img', fileobj);
                form.append("teacher_token",teacher_token)
                $.ajax({
                    type: 'POST',
                    url: "http://127.0.0.1:8000/teacher/updateimg",
                    data: form,
                    dataType: 'json',
                    processData: false,  // 告诉jquery不转换数据
                    contentType: false,  // 告诉jquery不设置内容格式
                    success: function (data) {
                        if (data.code == 200) {
                            $("#img").attr("src",data.data)
                            alert("图片上传成功")
                            ;
                        } else {
                            $("#img").attr("src",data.data)
                            alert(data.error)
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
        }

    </script>
    </div>
    </div>
    <div>
        <div class="footer">
            <div class="wp">
                <div class="footer_con clear">
                    <span>友情链接</span>
                    <div class="footer_con_t">
                        <a href="https://www.baidu.com/?tn=02003390_3_hao_pg">百度</a>
                    </div>
                </div>
                <div class="footer_bo clear">
                    <div class="footer_bo_l fl">
                        <p>24小时热线：10086-11 Yn2018ssry（微信）</p>
                        <p>在线QQ：2991044231 邮箱：2991044231@qq.com 传真：029-88645065</p>
                        <p>公司地址：NO伍佰教育科技有限公司总部</p>
                        <p> <img src="images/comp.png" alt=""> 陕公网安备 61010402000427号</p>
                        <p>©2017 - 2019 NO伍佰教育科技有限公司 </p>
                        <p>技术支持：<a href="javascript:;" target="_blank">西安NO伍佰教育科技有限公司</a></p>

                    </div>
                    <div class="footer_bo_r fr">
                        <ul class="clear">
                            <li>
                                <!-- <img src="http://img.zhishanshi.com/web/image/201905/1559282162468.png" alt=""> -->
                                <img src="images/20191213214440.jpg" alt="">
                                <p>扫描QQ二维码</p>
                            </li>
                            <li>
                                <img src="images/20191213215158.png" alt="">
                                <p>微信公众号</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>