<!DOCTYPE HTML>
<html>

<head>
    <title>学生/家长中心</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Refinement Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/index.js"></script>
    <!--<script src="js/layer.js"></script>-->
    <!--<script src="js/hm.js"></script>-->
    <script src="js/placeholder.js"></script>
    <!--<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" href="css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/webnet.css">
    <script src="js/bootstrap.js"></script>
    <style>
        .fullcategory {
            width: 220px;
            height: 383px;
        }

        .jbxx .jbxx_d .jbxx_d1 ul>li .div1 .select-menu-ul1 {
            list-style: none;
            opacity: 0;
            display: none;
            width: 100%;
            text-align: left;
            border: 1px solid #ddd;
            background: #fff;
            position: fixed;
            bottom: 0;
            left: 0px;
            z-index: 9999;
            height: 310px;
            overflow: scroll;
            margin-top: 50px;
            list-style: none;
            opacity: 0;
            display: none;
            width: 336px;
            text-align: left;
            border: 1px solid #ddd;
            background: #fff;
            position: absolute;
            z-index: 1;
            left: 250px;
            top: 70px;
        }
    </style>
</head>

<body>

    <!--header-->
    <div class="headerbanr">
        <div class="container">
            <div class="header-top">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand">
                                <h1><a href="index.html">No伍佰家教</a></h1>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">首页 <span class="sr-only">(current)</span></a></li>
                                <li><a href="about.html">关于</a></li>
                                <li><a href="services.html">服务</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">教员库 <span class="caret"></span></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">学员库 <span class="caret"></span></a>
                                </li>
                                <li><a href="codes.html">代码</a></li>
                                <li><a href="contact.html">联系我们</a></li>
                                <li id="log"><a href="login.html">登录</a></li>
                                <li id="zc"><a href="register.html">注册</a></li>
                                <span id ="login" style="color: crimson;"></span>&nbsp;&nbsp;&nbsp;<span id ="register" style="color: crimson;"></span>
                                <script src="js/yanzenglogin.js"></script>
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>

            </div>
        </div>
    </div>

    <div class="qjj wp clear">


        <div class="qjj_l fl">
            <div class="qjj_l_t">
                <h3>会员反馈</h3>
                <div class="qjj_l_t1">
                    <ul>
                        <li>
                            <a href="">
                                <h3><i></i>学员反馈与张教员成功授课：</h3>
                                <p>好的</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <h3><i></i>学员反馈与李教员成功授课：</h3>
                                <p>很好的教员，上课负责，口语标准。</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="qjj_l_d">
                <a href="register.html" class="a2">免费注册</a>
                <a href="/site/gettutor">我要请家教</a>
                <a href="/tutor/register" class="a2">我要做家教</a>

            </div>
        </div>
        <div class="qjj_r fr">
            <div class="qjj_r_t">
    <!--            <span><img src="--><!--images/img_15.png" alt="">您的位置：</span>-->
                <a href="/">网站首页 >></a>
                <a href="">会员中心</a>
            </div>
            <div class="hyzx">
                <div class="hyzx_t">
                    <a>
                    <img src="images/t3.jpg" alt="" id= "user_img">
                    <img src="" alt="" id ="bj_img">
                    <p id ="bj_xx"></p>
                     </a>
                    <style>
                        .hyzx_t { position: relative;}
                        #user_img { display: block; }
                        #bj_img { position: absolute; top: 50%; left:50%+50px;margin-left: 30px; margin-top: -25px; width: 40px;height: 40px; }
                    </style>
                   
                    <div class="hyzx_t1">
                        <h3 id="hyzx_name"></h3>
                        <div class="hyzx_t2">
                            <p>学生/家长</p>
                        </div>
                    </div>
                    <div class="hyzx_t1">
                        <h3></h3>
                        <div class="hyzx_t2">
                            <div style="width: 250px;font-size: 16px;margin-top: -30px;position: relative;
        left: 100px;">这是你第 <m style="color: red">1576488153</m> 次登录</div>
                            <div  style="font-size: 16px;margin-top: 50px;height: 30px;position: relative;
        left:  -80px;;">最后刷新时间: <m style="color: #3dab17" id ="time">2019/12/16 17:21:10</m></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ljcz">
                <a href=""><img src="images/img35.png" alt=""></a>
                
            </div>
            <div class="ljcz_t">
                <ul>
                    <!-- <li>
                        <a class="upsort">
                            <div class="ljcz_t1">
                                <img src="images/img29.png" alt="">
                                <span>刷新教员排名</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="teacher_detailed_inform.html">
                            <div class="ljcz_t1">
                                <img src="images/img29.png" alt="">
                                <span>个人信息</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                    </li> -->
                    <li>
                        <a href="user_comment.html">
                            <div class="ljcz_t1">
                                <img src="images/img28.png" alt="">
                                <span>发布需求</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                        <a id="user_order">
                            <div class="ljcz_t1">
                                <img src="images/img28.png" alt="">
                                <span>订单信息</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                    </li>
                    <li>
                        <a href="teachergallery.html">
                            <div class="ljcz_t1">
                                <img src="images/img29.png" alt="">
                                <span>挑选教员</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                    </li>
    
                    <li>
                        <a id = "updateInfo">
                            <div class="ljcz_t1">
                                <img src="images/img31.png" alt="">
                                <span>查看资料</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="ljcz_t1">
                                <img src="images/img32.png" alt="">
                                <span>修改登录密码</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="ljcz_t1" id="countme">
                                <img src="images/img33.png" alt="">
                                <span>联系客服</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="ljcz_t1" id="exit">
                                <img src="images/img29.png" alt="">
                                <span>退出管理系统</span>
                            </div>
                            <i><img src="images/img26.png" alt=""></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        //自动加载js代码
        function showTime() {
            var $dt = document.getElementById("time"); // 得到容器对象
            var dt = new Date(); // 得到当前时间
            var y = dt.getFullYear(); // 当前年份
            var m = dt.getMonth() + 1; // 当前月份，getMonth 返回值是 0-11 对应 1-12月，因此全部加1
            var d = dt.getDate();

            var h = dt.getHours();
            if (h < 10) h = '0' + h;
            var i = dt.getMinutes();
            if (i < 10) i = '0' + i;
            var s = dt.getSeconds();
            if (s < 10) s = '0' + s;

            var str = y + '/' + m + '/' + d + " " + h + ':' + i + ':' + s;
            $dt.innerHTML = str; // 将格式化后的内容装载到容器中
        }
        $(function(){//鼠标移入移出事件
            $("#user_img").mouseover(function(){
                $("#bj_img").attr("src","images/编辑.png")
                //当点击编辑图片的时候修改学生头像
                $("#user_img").on("click",function(){
                    window.location.href ="user_upload_img.html"
                })
            })
            $("#user_img").mouseout(function(){
                $("#bj_img").attr("src","")
                $("#bj_xx").text("")
            })
        })
        $(function () {
            //显示该页学生的照片和老师的姓名
            var user_token = window.localStorage.user_token;
            var user_account = window.localStorage.user_account;
            //向后端发送ajax请求
            $.ajax({
                url: "http://127.0.0.1:8000/user/get_base_info",
                type: "GET",
                beforeSend:function(request){
                    request.setRequestHeader("authorization",localStorage.getItem("user_token"))},
                dataType: "json",
                contentType:"Application/json",
                success: function (data) {//成功显示
                    if (data.code == 200) {
                        $("#hyzx_name").text(data.data.user_name);
                        $("#user_img").attr("src",data.data.img_url);
                        showTime();
                    } else if(data.code == 20112 || data.code == 20113 ||data.code == 201114) {
                        alert(data.error);
                        window.localStorage.removeItem('user_account');
                        window.localStorage.removeItem('user_token');
                        window.location.href = "login.html";
                    }else{
                        alert(data.error)
                        window.location.href = "user_upload_img.html"
                    }

                },
                error:function(data){
                    alert(data.error)
                }
            })

        }





        )
        //当点击订单信息的时候,为标签增加href属性
        $("#user_order").on("click",function(){
            $(this).attr("href","user_order.html")
        })
        //当点击 修改资料时候,为a标签增加 href属性
        $("#updateInfo").on("click", function () {
            $(this).attr('href', "user_detailed_info.html?")
        })
        // 当点击联系我们的时候,弹出联系我们的联系方式
        $("#countme").on("click", function () {
            alert("客服联系方式:手机:18829189722;qq:2991044231")
        })
        // 当点击退出的时候,
        $("#exit").on("click", function (e) {
            e.preventDefault()
            window.localStorage.removeItem('teacheraccount');
            window.localStorage.removeItem('teacher_token');
            alert('退出登录成功')
            $("#login").html("")
            $("#register").html("")
            window.location.href = "index.html"

        })
        $('.upsort').click(function () {//点击向后端发送对数据库中的老师按照订单数数量进行排名
            $.ajax({
                url: "http://127.0.0.1:8000/teacher/sort",
                data: JSON.stringify({ 'sort': 1 }),
                type: 'POST',
                dataType: "json",
                success: function (e) {
                    if (e.code == 200) {
                        console.log(e)
                    }
                    else {
                        console.log("刷新失败")
                    }
                },
                error: function (e) {
                    console.log(e);
                    console.log("请求错误")
                }

            })
        })
    //自动加载js代码
    $(function(){

        var loginName1 = window.location.href.split("?")[1]
        if(!loginName1){
            var loginName1 = window.localStorage.user_account;
            $("#hyzx_name").text(loginName1)
        }else{
            loginName2 = loginName1.split("=")[1]
            console.log(loginName2)
            $("#hyzx_name").text(loginName2)
        }
        

        
    })
  
    //当点击 修改资料时候,为a标签增加 href属性
    $("#updateInfo").on("click",function(){
        $(this).attr('href','user_detailed_info.html?loginName='+loginName)  
    })
    // 当点击联系我们的时候,弹出联系我们的联系方式
    $("#countme").on("click",function(){
            alert("客服联系方式:手机:18829189722;qq:2991044231")  
        })
        // 当点击退出的时候,
    $("#exit").on("click",function(e){   
            e.preventDefault()
            window.localStorage.removeItem('teacheraccount');
            window.localStorage.removeItem('teacher_token');
            alert('退出登录成功')
            $("#login").html("") 
            $("#register").html("")
            window.location.href="index.html"
           
        })
        $('.upsort').click(function () {//点击向后端发送对数据库中的老师按照订单数数量进行排名
            $.ajax({
                url:"http://127.0.0.1:8000/teacher/sort",
                data:JSON.stringify({'sort':1}),
                type:'POST',
                dataType:"json",
                success:function(e){
                    if(e.code==200){
                       console.log(e) 
                    }
                    else{
                        console.log("刷新失败")
                    } 
                },
                error: function(e) {
                    console.log(e);
                    console.log("请求错误")
                }
    
            })
        })
    </script>
    <div>
        <div class="footer">
            <div class="wp">
                <div class="footer_con clear">
                    <span>友情链接</span>
                    <div class="footer_con_t">
                        <a href="https://www.baidu.com/?tn=02003390_3_hao_pg">百度</a>
                    </div>
                </div>
                <div class="footer_bo clear">
                    <div class="footer_bo_l fl">
                        <p>24小时热线：10086-11 Yn2018ssry（微信）</p>
                        <p>在线QQ：2991044231 邮箱：2991044231@qq.com 传真：029-88645065</p>
                        <p>公司地址：NO伍佰教育科技有限公司总部</p>
                        <p> <img src="images/comp.png" alt=""> 陕公网安备 61010402000427号</p>
                        <p>©2017 - 2019 NO伍佰教育科技有限公司 </p>
                        <p>技术支持：<a href="javascript:;" target="_blank">西安NO伍佰教育科技有限公司</a></p>

                    </div>
                    <div class="footer_bo_r fr">
                        <ul class="clear">
                            <li>
                                <!-- <img src="http://img.zhishanshi.com/web/image/201905/1559282162468.png" alt=""> -->
                                <img src="images/20191213214440.jpg" alt="">
                                <p>扫描QQ二维码</p>
                            </li>
                            <li>
                                <img src="images/20191213215158.png" alt="">
                                <p>微信公众号</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>